{%extends 'mise en page/base.html' %}
{% block content %}
<center>
	<div class="page">
<table>
	<tr>
		<th ><center>
		<img src="../static/images/givane.jpg" alt="image de profil" title="image de l'administrateur"></center>
		</th>

	</tr>
	<tr>
		<th>
	
		<strong>Salut a Vous Mes dammes et Mr les visiteurs <br/>On m'appel MBANDZA Stany</strong>
		<br/><br/><hr/>
		<br/>
		J'ai developpé ce site web avec <strong>le framework Django, qui m'a été enseigner par monsieur BAH</strong>
		<br/>ce site a pour but de produire les<br/>
		cartes d'identités de chaque étudiants de mon institut;<br/><hr/> l'Ecole
		Communautaire de l'Enseignement Superieur <a href="http://www.eces-ecole.org">ECES</a>.
	

		</th>
	</tr>
</table>
</div>
</center>



{%endblock%}